/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .5);
}

button:hover,
button:focus{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
}

#btn__reset {
	width: 200px;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  background-color: #9e9e9e;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  color: #036f65;
  text-shadow: -1px 2px 3px rgba(255, 255, 255, .35);
}


/* Phrase */

#phrase {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: fit-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.word { 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.letter {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  /* user-select: none; */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #009a06;
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}


/* Keyboard */

.key {
    text-transform: uppercase;
    height: 50px;
    width: 50px;
}

.keyrow {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.chosen {
  background: #009a06;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #b00c00;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: #FFF;
}

.start {
  background-color: #009688;
}

.start a {
  color: #fff;
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
}

#game-over-message {
  font-size: 35px;
  margin: 0;
  padding: 25px;
  text-align: center;
}

/* Media Queries */

@media (max-width: 500px) {
  .main-container {
    max-height: 100%;
  }

  h2 {
    font-size: 35px;
  }

  #btn__reset {
    width: 150px;
  }
  .section {
    padding: 5px;
  }

  /* Phrase */
  .letter {
    font-size: 30px;
    height: 50px;
    width: 50px;
    padding: 10px 1px 0 1px;
    margin-right: 2px;
  }

  /* Keyboard */
  
  .key {
    height: 35px;
    max-width: 32px;
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
  }

}